# zsh modules
[submodule "z"]
    path = .zsh/z
    url = git://github.com/rupa/z.git

[submodule "zsh-history-substring-search"]
    path = .zsh/zsh-history-substring-search
    url = git://github.com/zsh-users/zsh-history-substring-search.git

[submodule "zsh-syntax-highlighting"]
    path = .zsh/zsh-syntax-highlighting
    url = git://github.com/zsh-users/zsh-syntax-highlighting.git

# vim modules
[submodule "vundle"]
    path = .vim/bundle/vundle
    url = git://github.com/gmarik/vundle

[submodule "ctrlp.vim"]
    path = .vim/bundle/ctrlp.vim
    url = git://github.com/kien/ctrlp.vim.git

[submodule "nerdtree"]
    path = .vim/bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git

[submodule "syntastic"]
    path = .vim/bundle/syntastic
    url = git://github.com/scrooloose/syntastic.git

[submodule "YouCompleteMe"]
    path = .vim/bundle/YouCompleteMe
    url = git://github.com/Valloric/YouCompleteMe.git

[submodule "vim-powerline"]
    path = .vim/bundle/vim-powerline
    url = git://github.com/Lokaltog/vim-powerline.git

[submodule "vim-irblack"]
    path = .vim/bundle/vim-irblack
    url = git://github.com/wesgibbs/vim-irblack.git

[submodule "vim-flake8"]
    path = .vim/bundle/vim-flake8
    url = git://github.com/nvie/vim-flake8.git

